<p>Olá,</p>

<p>A importação dos seus contatos falhou. Parece que o arquivo CSV que você carregou pode não ser válido. Pedimos gentilmente que revise o arquivo e certifique-se de que ele esteja em conformidade com o formato necessário.</p>
